[%divId = "loginPage"%]
[%spwfResource="security_user"%]
<script>[%+ INCLUDE mobile/_login.js +%] </script>
<div data-role="page" id="[%divId%]DivId">
	<div data-role="header" data-position="fixed" >
		<h1>Golf Score</h1>
	</div>

	<div data-role="content" style="margin-top: 10%">
		<form id ="[%divId%]Form">
			<input type="text"  id="[%divId%]Form-user_id" placeholder="User Name"/>
			<br/>
			<input type="password"  id="[%divId%]Form-password" placeholder="Password"/>
			<br/>
			<button type="button" id="cmd[%ucFirst(divId)%]LoginId" onclick="javascript:loginCall('AUTHENTICATE');">Login</button>
		</form>
	</div>
</div>

