<!--Begin LoginPortal-->

<script type="text/javascript">
function digest(er, ee) {
    if (null == ee || "object" != typeof ee || null == er || "object" != typeof er ) return er;
    for (var attr in ee) {
        er[attr] = ee[attr];
    }
    return er;
}
var loginPageCtl;
function LoginPageCtl($http){
var self = this;
loginPageCtl = this;

//this.$invalidWidgets = $invalidWidgets;
this.result="";
this.authenticateUser = function(params){ "use strict";
  var startTime, stopTime;
  params['spwfResource'] = "security_user";
  params['spwfAction'] = "authenticate";

  startTime= new Date();
  $http.post(urlTarget,params).success(function(data, status, headers, config) {
	stopTime=new Date();
	if(!validateServerResponse(data) || data.rows[0].session_id ==""){
		alert("Sorry, I Couldn't validate those Credentials");
		self.loginForm.password="";
		return false;
	}else{
		statusMsg("Successfully Authenticated User in " + (stopTime.getTime()-startTime.getTime())/1000 + "s" );
		var r = data.rows[0];
		usrSessionId = r.session_id;
		usrLoginId = r.user_id;
		onSuccessfulLogin();

	}
  });
}

spwfService.register('authenticateUser',this.authenticateUser );

//alert($("#user_id").val());
this.loginForm= {user_id:"golfscore", password:"golfscore"};
}//end LoginPageCtl





function onSuccessfulLogin(){
	$("#password").val("");
	displayMainLayout(true);
	$("#topMenuBar").show();
	registerAction();
	timeoutIfNoAction();
	setMainContentPane(showGolfScoreSummary);
	spwfService.exec('golferSummaryRetrieve');
spwfService.exec('cacheRetrieve');
	//	retrieveCache();

}
// timeout function
function timeoutIfNoAction(){ "use strict";
	var timeSince = new Date().getTime() - usrLastAction.getTime() ;
	if(usrLoginId !="" && timeSince >usrTimeOutDuration ){
		usrLogoutScheduled = true;
		statusMsg("Logging Out User in 1 minute");
		window.setTimeout(function(){if (usrLogoutScheduled){logOutUser();}},60000);
	}else{
	  window.setTimeout(timeoutIfNoAction, usrTimeOutDuration +1000  );
	}

}
function registerAction(){
usrLastAction= new Date();
usrLogoutScheduled = false;


}


function logOutUser(){
  location.reload(true);
return;
}
</script>

<div id="LoginPortal" style="position:fixed; height:100%; width:100%" ng:controller="LoginPageCtl">
<img align="center" height="150" width ="470" src="./img/headerphoto.jpg">
<div  class="vcenter">
<form  >  
  <fieldset style="border:0">  
    <table class="formLayout" style="margin: auto;" vertical-align="middle">
    <tr><td colspan="2" class="formHeaderTD"><span class="formHeader">Login</span> <br/>
	<span class="small" >Please enter your login credentials</span><hr/></td></tr>
    <tr>
    <td class="labelColumn" style="" ><label for="user_id" id="user_id_label" >User ID</label> </td> 
    <td><input type="text" ng:model="loginForm.user_id" id="user_id" size="30" value="" class="fieldbox" ng:required /> </td> 
     </tr><tr>
    <td class="labelColumn"><label for="password" id="password_label">Password</label>  </td>
    <td><input type="password" ng:model="loginForm.password" id="password" size="30" value="" class="fieldbox" ng:required />  </td> 
     </tr><tr>
    <td colspan="2" align="center" style="padding: 15px">
	<button type="button"  id="login_button" class="custombutton"  ng:click="authenticateUser(this.loginForm)"> Login </button>  
	<!--<button type="button"  id="login_button" class="custombutton"  onclick="spwfService.exec('authenticateUser',this.loginForm)"> Login </button>  
<pre>ok {{this.result}}</pre>
-->
    </td>
</tr></table>
  </fieldset>  
</form>  


</div>
</div> <!--loginportal--> 
<!--End LoginPortal-->
