Sorry you forgot your username, it is: [%user_id%].  You'll need to enter this code to gain access: <b>[%password_reset_code%]</b>.   You can also reset yourpassword once logged in.
If you did not request a password reset, please forward this email to w.brandon.martin@gmail.com to investigate
