


<!DOCType html>
<html> 
<head> 
	<title>Golf Score Tracker</title>		<link rel="stylesheet"  href="http://yui.yahooapis.com/3.7.3/build/cssreset/cssreset-min.css" type="text/css"/>
	<script src="http://code.jquery.com/jquery-1.8.0.min.js" type="text/javascript"></script>
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" type="text/css"/>

	<style type="text/css">
		/*_main.css */
		.SecurityDisabled{
  display:none !important;
}

.LogicDisabled{
display:none !important;

}
.error{
  color: red !important;
}
  .ValidationMsg{
    color:red !important;
    font-size: .75em;
  }


		/*jquery-ui vs jquery-mobile conflict overrides
		.ui-icon-circle-triangle-w { background-position: -80px -192px; background-color:transparent; }
		.ui-icon-circle-triangle-e { background-position: -48px -192px; background-color:transparent; }
		*/
		/*table formatting*/
		.ui-th{
			padding: 2px;
			font-weight: bold;
		}
		.ui-td{
			padding: 2px;
		}

#TrustedDeviceDivId	 .ui-slider-switch { width: 9em }



	</style>

	<meta name=viewport content="user-scalable=no,width=device-width" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<link rel="apple-touch-icon" sizes="57x57" href="../images/touch-icon-iphone-114.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="../images/touch-icon-iphone-114.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="../images/touch-icon-ipad-144.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="../images/touch-icon-ipad-144.png" />
	<link rel="icon" type="image/png" href="../favicon.png">
	<script type="text/javascript" src="./appmobile.js"></script>
</head> 

<body onload="onBodyLoad();"> 


<div data-role="page" id="LoginPortalDivId">
	<div data-role="header" data-position="fixed" >
		<h1>Golf Score</h1>
	</div>

	<div data-role="content" style="margin-top: 10%">
		<form id ="LoginPortalForm" action="">
			<input type="text"  id="LoginPortalForm-user_id" placeholder="User Name"/>
			<br/>
			<input type="password"  id="LoginPortalForm-password" placeholder="Password"/>
			<br/>
			<button type="button" id="cmdLoginId" onclick="javascript:loginCall('authenticate');">Login</button>
			<div id="TrustedDeviceDivId" class="containing-element" data-role="fieldcontain">
			<label for="trustedDeviceId"  style="display:none;">Trusted Device:</label>
			<select name="trustedDevice" id="trustedDeviceId" data-role="slider"  >
				<option value="off">Public</option>
				<option value="on">Trusted</option>
			</select> 
		</div>
	
		</form>
	</div>
</div>




<div data-role="page" id="golfScoreSummaryDivId" data-add-back-btn="true">
	<div data-role="header" data-position="fixed" >
		<h1>Golf Score - Handicaps</h1>
	</div>

	<div data-role="content" style="margin-top: 10%">
		<div id = "golfScoreSummaryTableId" class = "ui-grid-a">
			
		</div>
		<form id ="golfScoreSummaryForm" action="">
			
		</form>
	</div>
</div>

<div data-role="dialog" id="userMsgDialog" data-add-back-btn=true>
  <div data-role=header>
		<h1><span id="title"></span></h1>
  </div>

  <div data-role=content>
    <span id="msg"></span>
  </div>
</div>





<!--MainLayout MainContentPaneStyle -->
<div id="launchPaneDivId" data-role="page" class="">
	<div data-role="header" data-position="fixed" >
		<h1>Golf Score</h1>
	</div>
	<div data-role ="content">
		<ul data-role="listview">
			<li> <a href="#" onclick="showGolfScoreSummary()">Handicaps</a></li>
			<li> <a href="#" onclick="showQuickGolfScoreEntry()">Add Score</a></li>
			<li> <a href="#" onclick="showQuickGolfScoreHistory()">Recent Scores</a></li>
	</ul>	
</div>
</div>




<div data-role="page" id="quickGolfScoreEntryDivId" >
	<div data-role="header" data-position="fixed" >
		<a href="#" data-icon="home" onclick="showLaunchPane();">Home</a>
		<h1>Golf Score - AddScore</h1>
	</div>

	<div data-role="content" style="margin-top: 10%">
		<form id ="quickGolfScoreForm" action="">
			
			<div class="formFieldGroup" id="quickGolfScoreForm-golfer_idDivId">
				<label for ="quickGolfScoreForm-golfer_id" id="quickGolfScoreFormLabel-golfer_id">Name</label>
				<select name="golfer_id" id="quickGolfScoreForm-golfer_id" class="VALIDATErequired" data-native-menu="true"></select>
				<span class="ValidationMsg" id="quickGolfScoreFormLabel-golferIdError"></span>
			</div>
			
			<div class="formFieldGroup" id="quickGolfScoreForm-golf_scoreDivId">
				<label for ="quickGolfScoreForm-golf_score" id="quickGolfScoreFormLabel-golf_score">Score</label>
				<input  type="text" class="VALIDATEinteger" name="golfScore" id="quickGolfScoreForm-golf_score"/>
				<span class="ValidationMsg" id="quickGolfScoreFormLabel-golfScoreError"></span>
			</div>
			
			<div class="formFieldGroup" id="quickGolfScoreForm-game_dtDivId">
				<label for ="quickGolfScoreForm-game_dt" id="quickGolfScoreFormLabel-name">Date</label>
				<input type="date"  name="gameDt" id="quickGolfScoreForm-game_dt" class="VALIDATEdate_yyyy-mm-dd" />
				<span class="ValidationMsg" id="quickGolfScoreFormLabel-gameDtError"></span>
			</div>



			<div class="formButtons" data-role="content">

				<button type="button" id="quickGolfScoreFormSave" class="" value="Save" onclick="saveQuickGolfScoreForm();" data-inline="true"><span class="">Save</span></button>
				<button type="button" id="quickGolfScoreFormAdd"  class="" value="Add" onclick="saveQuickGolfScoreForm();" data-inline="true"><span class="">Add</span></button>
				<button type="button" id="quickGolfScoreFormClear"  class="" value="Clear" onclick="clearQuickGolfScoreForm();" data-inline="true"><span class="">Clear</span></button>
			</div>
			<input type="hidden" name="last_update" id="quickGolfScoreForm-last_update"/>
			<input type="hidden" name="golfer_score_id" id="quickGolfScoreForm-golf_score_id"/>

		</form>
	</div>
</div>


<div data-role="page" id="quickGolfScoreHistoryDivId" data-add-back-btn="true" >
	<div data-role="header" data-position="fixed" >
		<h1>Golf Score - History</h1>
	</div>

	<div data-role="content" style="margin-top: 10%">
		<div id = "quickGolfScoreTableId" class = "ui-grid-a">

		</div>
	</div>
</div>






<script type="text/javascript">
//footerCommon	

//LoginPortal
  $('#LoginPortalForm-user_id').val('golfscore');
	$('#LoginPortalForm-password').val('golfscore');



</script>

<script type="text/javascript">


</script>

</body>
</html>