\o ./log/CRUD_golf_score.log
/*
-- Security Grants
GRANT ALL ON TABLE golf_score TO GROUP golfscore;
INSERT INTO security_privilege(client_id,  priv_name, last_update, description)    VALUES (1, 'SELECT_GOLF_SCORE', now(), 'Allows users to select golf_score'); 
INSERT INTO security_privilege(client_id,  priv_name, last_update, description)    VALUES (1, 'INSERT_GOLF_SCORE', now(), 'Allows users to add records to golf_score');
INSERT INTO security_privilege(client_id,  priv_name, last_update, description)    VALUES (1, 'UPDATE_GOLF_SCORE', now(), 'Allows users to update records in golf_score');
INSERT INTO security_privilege(client_id,  priv_name, last_update, description)    VALUES (1, 'DELETE_GOLF_SCORE', now(), 'Allows users to delete records from golf_score');
select * from security_privilege where priv_name in ('SELECT_GOLF_SCORE','INSERT_GOLF_SCORE','UPDATE_GOLF_SCORE','DELETE_GOLF_SCORE');
INSERT INTO security_profile_grant(client_id, security_profile_id, security_privilege_id) VALUES (1, 1, ?);
INSERT INTO security_profile_grant(client_id, security_profile_id, security_privilege_id) VALUES (1, 1, ?);
INSERT INTO security_profile_grant(client_id, security_profile_id, security_privilege_id) VALUES (1, 1, ?);
INSERT INTO security_profile_grant(client_id, security_profile_id, security_privilege_id) VALUES (1, 1, ?);
*/
--=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+


-- Function: golf_score_sq(text, integer, text, text, text, text, integer, integer)

-- DROP FUNCTION golf_score_sq(text, integer, text, text, text, text, integer, integer);

CREATE OR REPLACE FUNCTION golf_score_sq(alreadyAuth_ text, clientid_ integer, securityuserid_ text, sessionid_ text, whereClause_ text, orderByClause_ text, rowLimit_ integer, rowOffset_ integer)
  RETURNS SETOF golf_score AS
$BODY$
  Declare
    additionalWhereClause text;
    orderByClause text;
    offsetStatement text;
    limitStatement text;
  Begin
    if alreadyAuth_ <>'ALREADY_AUTH' then
    	perform isSessionValid(clientid_, securityuserId_,sessionId_) ;
    	perform isUserAuthorized(clientid_, securityuserId_, 'SELECT_GOLF_SCORE' );
    end if;
--golf_score_id, last_update, golf_score, golfer_id

    additionalWhereClause ='';
    orderByClause='';
    offsetStatement ='';
    limitStatement ='';
    if rowOffset_ >0 then
	offsetStatement =' offset ' || rowOffset_ ;
    end if;
    if rowLimit_ >0 then
	limitStatement =' limit '||rowLimit_;
    end if;
    if whereClause_ <>'' then
	additionalWhereClause = trim(leading whereClause_);
	additionalWhereClause = regexp_replace(additionalWhereClause, '^(where|WHERE)','');
	additionalWhereClause = trim(leading additionalWhereClause);
	additionalWhereClause = regexp_replace(additionalWhereClause, '^(and|AND)','');
	additionalWhereClause = ' and( ' || additionalWhereClause || ')';
    end if;
    if orderByClause_ <> '' then
	orderByClause = orderByClause_;
    end if;

    return query execute 'select * from golf_score where client_id =' || clientid_ || ' ' 
	|| additionalWhereClause || orderByclause || offsetStatement || limitStatement;

  End;
$BODY$
  LANGUAGE 'plpgsql' VOLATILE
  COST 100
  ROWS 1000;
ALTER FUNCTION golf_score_sq(text, integer, text, text, text, text, integer, integer) OWNER TO postgres;
GRANT EXECUTE ON FUNCTION golf_score_sq(text, integer, text, text, text, text, integer, integer) TO GROUP golfscore;

--select * from golf_score_sq('ALREADY_AUTH', 1, 'test', 'test', '','',-1,-1);


--=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+


-- Function: golf_score_bypk(text, integer, text, text ,integer)

-- DROP FUNCTION golf_score_pybk(text, integer, text, text,integer);

CREATE OR REPLACE FUNCTION golf_score_bypk(alreadyAuth_ text, clientid_ integer, securityuserid_ text, sessionid_ text ,golfScoreId_ integer)
  RETURNS golf_score AS
$BODY$
  Declare
    result golf_score;
  Begin
    if alreadyAuth_ <>'ALREADY_AUTH' then
    	perform isSessionValid(clientid_, securityuserId_,sessionId_) ;
    	perform isUserAuthorized(clientid_, securityuserId_, 'SELECT_GOLF_SCORE' );
    end if;
--golf_score_id, last_update, golf_score, golfer_id
   


     select * into result from golf_score where golf_score_id=golfScoreId_;
     return result;
  End;
$BODY$
  LANGUAGE 'plpgsql' VOLATILE
  COST 100;
ALTER FUNCTION golf_score_bypk(text, integer, text, text,integer) OWNER TO postgres;
GRANT EXECUTE ON FUNCTION golf_score_bypk(text, integer, text, text,integer) TO GROUP golfscore;


--=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+



-- Function:  golf_score_iq(text, integer, text ,integer,integer)

-- DROP FUNCTION golf_score_iq( text, integer, text,integer,integer);

create or replace function golf_score_iq(alreadyauth_ text, clientid_ integer, securityuserid_ text, sessionid_ text,golfScore_ integer,golferId_ integer)
  returns golf_score as
$body$
  declare
    newrow golf_score;
  begin
    if alreadyauth_ <>'ALREADY_AUTH' then	
    	perform issessionvalid(clientid_, securityuserid_,sessionid_) ;
    	perform isuserauthorized(clientid_, securityuserid_,'INSERT_GOLF_SCORE' );
    end if;


    insert into golf_score(client_id ,last_update,golf_score,golfer_id) 
	values (clientid_ , now(),golfScore_,golferId_) 
	returning * into newrow;
      return newrow;
  end;
$body$
  language 'plpgsql' volatile
  cost 100;
alter function golf_score_iq(text, integer, text, text ,integer,integer) owner to postgres;
GRANT EXECUTE ON FUNCTION golf_score_iq(text, integer, text, text ,integer,integer) TO GROUP golfscore;



--select * from golf_score_iq('ALREADY_AUTH', 1, 'test', 'test'  ,1 ,1 );


--=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+


-- Function:  golf_score_uq(text, integer, text ,integer,timestamp,integer,integer)

-- DROP FUNCTION golf_score_uq( text, integer, text ,integer,timestamp,integer,integer);


create or replace function golf_score_uq(alreadyauth_ text, clientid_ integer, securityuserid_ text, sessionid_ text , golfScoreId_ integer, lastUpdate_ timestamp, golfScore_ integer, golferId_ integer)
  returns golf_score as
$body$
  declare
    updatedrow golf_score;
  begin
    if alreadyauth_ <>'ALREADY_AUTH' then	
    	perform issessionvalid(clientid_, securityuserid_,sessionid_) ;
    	perform isuserauthorized(clientid_, securityuserid_, 'UPDATE_GOLF_SCORE' );
    end if;
	update golf_score set last_update = now() ,  golf_score= golfScore_ ,  golfer_id= golferId_ 	where golf_score_id=golfScoreId_   and   last_update = lastUpdate_
	returning * into updatedrow;

	if found then
	  return updatedrow;
	else 
	  raise exception 'Update Failed for GOLF_SCORE- The record may have been changed or deleted before the attempt.';
	end if;

  end;
$body$
  language 'plpgsql' volatile
  cost 100;
alter function golf_score_uq(text, integer, text, text ,integer,timestamp,integer,integer) owner to postgres;
GRANT EXECUTE ON FUNCTION golf_score_uq(text, integer, text, text ,integer,timestamp,integer,integer) TO GROUP golfscore;

--select * from golf_score_uq('ALREADY_AUTH', 1, 'test', 'test' <golf_score_id> <last_update> ,1 ,1);


--=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
-- Function:  golf_score_dq(text, integer, text ,integer, timestamp)

-- DROP FUNCTION golf_score_dq( text, integer, text ,integer, timestamp);


create or replace function golf_score_dq(alreadyauth_ text, clientid_ integer, userid_ text, sessionid_ text ,golfScoreId_ integer, lastUpdate_ timestamp  )
  returns boolean as
$body$
  declare
    
  begin
    if alreadyauth_ <>'ALREADY_AUTH' then	
    	perform issessionvalid(clientid_, userid_,sessionid_) ;
    	perform isuserauthorized(clientid_,userid_,'DELETE_GOLF_SCORE' );
    end if;
	delete from golf_score where golf_score_id=golfScoreId_  and last_update = lastUpdate_;

	if found then
	  return true;
	else 
	  raise exception 'Delete Failed for GOLF_SCORE- The record may have been changed or deleted before the attempt.';
	end if;

  end;
$body$
  language 'plpgsql' volatile
  cost 100;
alter function golf_score_dq(text, integer, text, text,integer, timestamp) owner to postgres;
GRANT EXECUTE ON FUNCTION golf_score_dq(text, integer, text, text,integer, timestamp) TO GROUP golfscore;

--=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+
