<head> 
  <title> Golf Score Tracker</title> 
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- 1140px Grid styles for IE -->
  <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
<script type="text/javascript"> 
//<![CDATA[
//1140 mediaqueries not strict safe
[%INCLUDE "includes/css3-mediaqueries.js"%]
//>>>>>>>>>>>>>>>>>>>>>>>>
//]]>
</script>
<script type="text/javascript" src="app.js"> </script>

[%#including style sheet reset css%]
<style type="text/css">
	/*reset yahooapis  http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css */
[%INCLUDE "style/reset-min.css"%]

/* _jqueryui*/
[%INCLUDE "style/jquery-ui-1.8.18.custom.css"%]

/*1140.css */
[%INCLUDE style/1140.css%]

/*ie.css */
[%INCLUDE style/ie.css%]

/*_main.css */
[%INCLUDE style/_main.css%]
</style>
</head>
