[%divId="helpPane"%]
<div id="[%divId%]" class="MainLayout MainContentPaneStyle" style="text-align:left; ">
	<div id ="[%divId%]CenterDiv" style="position:relative;width:300; height: 500; margin-left:auto; margin-right:auto; background-color:white; max-width:300; ">
		<h1 id="[%divId%]Title" class="pageTitle" >Help&hellip;</h1>

		<div class="row">
			<span class="twocol largeIconSpan"><a id="helpLauncherShowLog" onclick="changePage(function(){showClientLogViewer()});">
					<span class="sprite64Icon logIcon"></span><br/>
					View Log</a>
			</span>
			<span class="twocol largeIconSpan"><a id="launcherShowAbout" onclick="changePage(function(){showAboutPane()});">
					<span class="sprite64Icon learnMoreIcon"></span><br/>
					Learn More</a>
			</span>
			<span class="twocol largeIconSpan"><a id="launcherShowAbout" onclick="changePage(function(){showSupportRequest()});">
					<span class="sprite64Icon askForHelpIcon"></span><br/>
					Ask For Help</a>
			</span>
			<span class="twocol largeIconSpan"><a id="launcherRefreshCache" onclick="retrieveCache();">
					<span class="sprite64Icon remoteIcon"></span><br/>
					Refresh Cache</a>
			</span>



		</div>[%#end row%]



	</div>
</div>[%#aboutPane%]

