[%divId="supportRequest"%]
[%spwfResource="support_request"%]
[%prkey="support_request_id"%]
[%prettyName= "Support Request" %]

[%UPDATE_GRANT=  "UPDATE_" _ spwfResource FILTER upper%]
[%INSERT_GRANT=  "INSERT_" _ spwfResource  FILTER upper%]
[%SELECT_GRANT=  "SELECT_" _ spwfResource  FILTER upper%]
[%DELETE_GRANT=  "DELETE_" _ spwfResource  FILTER upper%]


<div id="[%divId%]" class="contentPane MainLayout"  >
	<h1 id="[%divId%]h1" class="pageTitle">[%prettyName%]</h1>
	<div class="row" style="text-align:center">
		<button type="button" id="[%divId%]Create" class="[%buttonClass%]" value="Request Help" onclick="addNew[%ucfirst(divId)%]();" ><span class="[%buttonTextClass%]">Enter New Help Request</span></button>
	</div>
	<div class="row">
		<span class="twelvecol">
			<table id="[%divId%]ListTable"  class='dataTable pretty' width="100%">
				<thead><tr><th>Details</th><th>ID</th> <th > Summary</th><th >detailed_description</th> <th>last_update</th> <th >I want to&hellip;</th></tr></thead>
				<tbody></tbody>
			</table>
		</span>
		<div id="[%divId%]FormHolder" title="Support Request" class = "" style="display:none; height:400px !important; overflow:auto;">
			<form id="[%divId%]Form"  title="Support Request" style="overflow:auto;">
				<div class="formLayout_Standard prettyWrapper" id="[%divId%]EntryDivId">
					[%dbColumnName = 'summary'%]
					<div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
						<label for ="[%divId%]Form-[%dbColumnName%]" id="[%divId%]FormLabel-[%dbColumnName%]">Summary</label>
						<textarea name="[%dbColumnName%]" id="[%divId%]Form-[%dbColumnName%]" class="VALIDATErequired" rows="1" cols="60"></textarea>
						<span class="ValidationMsg" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
					</div>
					[%dbColumnName = 'detailed_description'%]
					<div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
						<label for ="[%divId%]Form-[%dbColumnName%]" id="[%divId%]FormLabel-[%dbColumnName%]">Detailed Description</label>
						<textarea  class="VALIDATErequired" name="[%toCC(dbColumnName)%]" id="[%divId%]Form-[%dbColumnName%]" rows="5" cols="60"/></textarea>
						<span class="ValidationMsg" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
					</div>
					[%dbColumnName = 'solution_description'%]
					<div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
						<label for ="[%divId%]Form-[%dbColumnName%]" id="[%divId%]FormLabel-[%dbColumnName%]">Solution Description</label>
						<textarea  class="" name="[%toCC(dbColumnName)%]" id="[%divId%]Form-[%dbColumnName%]" rows="5" cols="60"/></textarea>
						<span class="ValidationMsg" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
					</div>
					[%dbColumnName = 'log_details'%]
					<div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
						<label for ="[%divId%]Form-[%dbColumnName%]" id="[%divId%]FormLabel-[%dbColumnName%]">Log Details</label>
						<textarea  class="" disabled="disabled" name="[%toCC(dbColumnName)%]" id="[%divId%]Form-[%dbColumnName%]" rows="5" cols="60"/></textarea>
						<span class="ValidationMsg" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
					</div>



					<div class="formButtons">

						<button type="button" id="[%divId%]FormSave" class="[%buttonClass%]" value="Save" onclick="save[%ucfirst(divId)%]Form();" ><span class="[%buttonTextClass%]">Save</span></button>
						<button type="button" id="[%divId%]FormAdd"  class="[%buttonClass%]" value="Add" onclick="save[%ucfirst(divId)%]Form();" ><span class="[%buttonTextClass%]">Add</span></button>
						<button type="button" id="[%divId%]FormClear"  class="[%buttonClass%]" value="Clear" onclick="clear[%ucfirst(divId)%]Form();" ><span class="[%buttonTextClass%]">Clear</span></button>
					</div>
					<input type="hidden" name="last_update" id="[%divId%]Form-last_update">
					<input type="hidden" name="support_request_id" id="[%divId%]Form-support_request_id">
				</div>
			</form>

		</div>
	</div>
</div> <!--end:[%ucfirst(divId)%]-->
