[%divId="aboutPane"%]
<div id="[%divId%]" class="MainLayout MainContentPaneStyle" style="text-align:left; ">
<div class="row">
  <div class="threecol">&nbsp; </div>
  <div class="sixcol">
	<h1 style="width:100%; text-align:center;">About golfscore</h1>	<p >golfscore is an open source application developed by Martinanalytics.  Part of our open source model leverages software developed by other open source contributors that we recognize here:
</p>
</div>
  <div class="threecol last">&nbsp; </div>
</div[%#row%]>
<div class="row">
  <div class="threecol">&nbsp; </div>
   <div class="sixcol">
    <ul  class="centerblock" style="width:40em;padding: 10px 0px 10px 100px;">
	<li><a href="">jQuery</a> provides our AJAX and Javascript handlers</li>
	<li>Site styling provided by <a href="http://www.styleshout.com/">StyleShout's</a> 
		PixelGreen web template and <a href="http://cssgrid.net/">the 1140 CSS Grid</a></li>
	<li><a href="http://www.apache.org/">Apache Web Server</a> </li>
	<li>Proudly developed in <a href="http://www.perl.org/">Perl</a> </li>
	<li>Database backended by <a href="http://www.postgresql.org/">PostgreSQL</a> </li>
	<li>Developed on the <a href="http://www.ubuntu.org/">Ubuntu</a> Platform </li>
    </ul>
   </div>
  <div class="threecol last">&nbsp; </div>
</div[%#row%]>


</div>[%#aboutPane%]
<script type="text/javascript">

function show[%ucfirst(divId)%](){
  hideCurrentContentPane();
  $("#[%divId%]").fadeIn();
currentContentPane = "[%divId%]";
  return "[%divId%]";
}

</script>

