[%divId="golfer"%]
[%spwfResource="golfer"%]
[%prkey="golfer_id"%]

<script type="text/javascript">
//<![CDATA[
"use strict";
//----------------------------------------------------
//server calls
function save[%ucfirst(divId)%](params){
  params = prepParams(params,"golfer",insertUpdateChoose);
  var successf=function(rslt){
    	bindToForm("[%divId%]Form", rslt.rows[0]);
        if (rslt.spwfAction == "UPDATE"){
		replaceRow[%ucfirst(divId)%]ListTable(rslt.rows[0]);
	}else if (rslt.spwfAction == "INSERT"){
		addNewRow[%ucfirst(divId)%]ListTable(rslt.rows[0]);
	}
	briefNotify("Golfer Saved Successfully");
	toggleSaveMode("[%divId%]Form", true);

  };
  serverCall(params,successf,FAILF);
}


function retrieve[%ucfirst(divId)%](params,selectedKey_){
  params = prepParams(params,"golfer","SELECT");
  if(selectedKey_){
    params['passThru'] = "SELECTED_KEY~" + selectedKey_ + ";"
  }
  var successf = function(rslt){
	if(rslt.rowCount==1){
		bindToForm("[%divId%]Form", rslt.rows[0]);
		toggleSaveMode("[%divId%]Form",true);
	}else{
	  populate[%ucfirst(divId)%]ListTable(rslt.rows, rslt.PT_SELECTED_KEY);
	  
	}
  }
  serverCall(params,successf,FAILF);
}
function delete[%ucfirst(divId)%]([%toCC(prkey)%]_, lastUpdate_){
  var params =prepParams(params,"[%spwfResource%]" ,"delete" );
  params['[%prkey%]'] = [%toCC(prkey)%]_;
  params['last_update'] = lastUpdate_;
  var successf = function (rslt){
	remove[%ucfirst(divId)%]ListTableRow(rslt.[%prkey%]);
	briefNotify("Golfer Deleted Successfully");
  };
  serverCall(params,successf,FAILF);
}


//-----------------------
//Server Call Wrappers
function edit[%ucfirst(divId)%](rowId_){
  if(rowId_){
	var params ={"where_clause":"golfer_id=" +rowId_};
	retrieve[%ucfirst(divId)%](params);
  }
}

function save[%ucfirst(divId)%]Form(){
  if(validate[%ucfirst(divId)%]Form()){
    var params = bindForm("[%divId%]Form");
    save[%ucfirst(divId)%](params);
  }else{
	briefNotify("Please Correct Form Validation Errors To Continue");
  }
}

//validation
function validate[%ucfirst(divId)%]Form(){
  var formName="[%divId%]Form";
  var formValid  = standardValidate(formName);
  return formValid;
}

//----------------------------------------------------
//html building functions
function populate[%ucfirst(divId)%]ListTable(rslt,selectedKey_) {
  var newHTML="<tr><th>Golfer Name</th><th>I want to&hellip;</th></tr>";
  for (var i=0;i<rslt.length;i++){
    newHTML +=buildRow[%ucfirst(divId)%]ListTable(rslt[i]);
    if (rslt[i].[%prkey%] == selectedKey_){
	bindToForm("[%divId%]Form", rslt[i]);
	toggleSaveMode("[%divId%]Form",true);
    }   
  }
  $("#[%divId%]ListTable").html(newHTML);
}

function buildRow[%ucfirst(divId)%]ListTable(row){
  var newRow= "<tr id='[%ucfirst(divId)%]ListTableTR-" +row.golfer_id + "'><td>";
  newRow += row.name + "</td><td>";
  newRow +="<a href='#' onclick='edit[%ucfirst(divId)%]("+ row.golfer_id + ")'>Edit</a> | "
  newRow +="<a href='#' onclick=\"delete[%ucfirst(divId)%]("+ row.golfer_id + ",'" + row.last_update + "')\">Delete</a>"
  newRow +="</td></tr>";
  return newRow;
}

function replaceRow[%ucfirst(divId)%]ListTable(row){
  $("table#[%divId%]ListTable #[%ucfirst(divId)%]ListTableTR-"+row.golfer_id  ).replaceWith(buildRow[%ucfirst(divId)%]ListTable(row));
}
function addNewRow[%ucfirst(divId)%]ListTable(row){
  $("table#[%divId%]ListTable TR").first().after(buildRow[%ucfirst(divId)%]ListTable(row));
}
function remove[%ucfirst(divId)%]ListTableRow([%toCC(prkey)%]_){
  $("table#[%divId%]ListTable #[%ucfirst(divId)%]ListTableTR-"+[%toCC(prkey)%]_).replaceWith("");
}


//-------------------------------------------------
//Div Access and App Layout Calls
function show[%ucfirst(divId)%](golferId_){
  var params={};
  hideCurrentContentPane();
  $("#[%divId%]").fadeIn();
  currentContentPane = "[%divId%]";
  if(golferId_){
  }else{
	toggleSaveMode("[%divId%]Form", false);
        clearForm("[%divId%]Form");
  }
  retrieve[%ucfirst(divId)%](params,golferId_);
}

$(document).ready(function(){
});
//]]>
</script>

<div id="[%divId%]" class="MainLayout MainContentPaneStyle" >
<form id="[%divId%]Form" >
<table>
    <tr>
     <td class="noborder"> <table id="[%divId%]ListTable"></table> </td>
     <td class= "noborder">
       <table id="[%divId%]FormTable" style="" class='formTable'>
	   <tr><td class="labelColumn"><label for="[%divId%]Form-name" id="[%divId%]FormLabel-name" > Name</label></td><td><input name="name" id="[%divId%]Form-name" class="required"></td><td><span class="ValidationMsg" id="[%divId%]FormLabel-nameError"></span></td>
</tr>
	   <tr><td colspan="2">
	      <button type="button" id="[%divId%]FormSave" value="Save" onclick="save[%ucfirst(divId)%]Form();" >Save</button>
	      <button type="button" id="[%divId%]FormAdd" value="Save" onclick="save[%ucfirst(divId)%]Form();" >Add</button>
	      <button type="button" id="[%divId%]FormClear" value="Clear" onclick="clearForm('[%divId%]Form');" >Clear</button>
	      </td>
	   </tr>
       </table>
     </td>
    </tr>
</table>
<input type="hidden" name="last_update" id="[%divId%]Form-last_update">
<input type="hidden" name="golfer_id" id="[%divId%]Form-golfer_id">
</form>
</div> [%# end golfScoreSummary%]
