[%divId="golferHistory"%]
<script type="text/javascript">
//<![CDATA[
function retrieve[%ucfirst(divId)%](golferId_){
  $("#[%divId%]Table").html("");
  var params =prepParams(params,"golf_score" ,"select" );
  params['where_clause'] = "golfer_id =" + golferId_;
  var successf = function (rslt){
	populate[%ucfirst(divId)%](rslt.rows)
  };
  serverCall(params,successf,FAILF);
}
function populate[%ucfirst(divId)%](dataRows){
  var htmlRow,htmlAggregator,data;
  var headerRow ="<tr> <th>Score</th><th>Date</th> </tr>";
  for(ndx=0;ndx< dataRows.length;ndx++){
	data = dataRows[ndx];
	htmlRow ="<tr> <td><a onclick='showGolfScore(" +data.golf_score_id + ")'>";
	htmlRow += formatNumber(data.golf_score,0,true,false,true)  +"</a></td>";
	htmlRow += "<td>" + pgDate(data.game_dt) + " </td> </tr>";
	htmlAggregator +=htmlRow;
  }
  $("#[%divId%]Table").html(headerRow +htmlAggregator);
}
function show[%ucfirst(divId)%](golferId_){
  retrieve[%ucfirst(divId)%](golferId_); 
  hideCurrentContentPane();
  $("#[%divId%]").fadeIn();
  currentContentPane="[%divId%]";
}
//]]>

</script>
<div id="[%divId%]" class="MainLayout MainContentPaneStyle"  >
<table id="[%divId%]Table" style="border-width: 1px; border-style:solid;" class='dataTable' >
</table>
</div> <!--end:[%ucfirst(divId)%]-->
