[%divId="golfScoreSummary"%]
<div id="[%divId%]" class="MainLayout MainContentPaneStyle" ng:controller="GolfScoreSummaryCtl">
<script type="text/javascript">
var spwfService = new function(){
  this.ServiceHandles = new Array();
  this.register = function(name, ref){
	this.ServiceHandles[name]=ref;
  };
  this.exec = function(name, params){
	if(params == null){ params = {}; }
  	if(params['user_id'] == null)  params['user_id'] = usrLoginId;
	if(params['password'] == null) params['password'] = usrSessionId;
  	registerAction();
	this.ServiceHandles[name](params);
  }
};
function GolfScoreSummaryCtl($xhr){
  var self = this;
  this.golferSummaries;
  this.retrieveGolfScoreSummary = function(params){ 
  var startTime, stopTime;
  if(params == null){ params = {}; }
  params['spwfResource'] = "golf_score_summary";
  params['spwfAction'] = "select";

  startTime= new Date();
  $xhr('POST', urlTarget,params, function(code, response) {
	stopTime=new Date();
	if(!validateServerResponse(response)){
		alert("Sorry, there was a problem communicating with the server.");
		return false;
	}
	statusMsg("Sucessfully Retrieved Golfer Handicaps in " + (stopTime.getTime()-startTime.getTime())/1000 + "s" );
        self.golferSummaries = response.rows;
  });

}//endretrieveGolferSummaries
spwfService.register('golferSummaryRetrieve',this.retrieveGolfScoreSummary);

}//end class

function show[%ucfirst(divId)%](){
  $("#[%divId%]").fadeIn();
  return "[%divId%]";
}




</script>

<table id="golfScoreSummaryTable" style="border-width: 1px; border-style:solid;" class='dataTable' >
<tr> <th>Golfer</th><th>Score</th><th>Period</th> </tr>
  <tr ng:repeat="summary in golferSummaries">
  	<td>{{summary.golfer_id}} {{summary.golfer_name}}</td><td>{{summary.golf_score}}</td><td>{{summary.first_date}} - {{summary.last_date}}</td>
 </tr>
</table>
<button ng:click="retrieveGolfScoreSummary()">Tst</button>

</div> [%# end golfScoreSummary%]

