[%divId="golfScore2"%]
[%spwfAction="golf_score"%]

<script type="text/javascript">
//<![CDATA[
function save[%ucfirst(divId)%]Form(){
  var params = bindForm("[%divId%]Form");
  save[%ucfirst(divId)%](params);
}
function save[%ucfirst(divId)%](params){
  params = prepParams(params,"[%spwfAction%]",insertUpdateChoose);
  var successf=function(rslt){
	rslt.rows[0].game_dt = pgDate(rslt.rows[0].game_dt);
    	bindToForm("[%divId%]Form", rslt.rows[0]);
  };
  serverCall(params,successf,FAILF);
}

function retrieve[%ucfirst(divId)%](params){"use strict";
  params = prepParams(params,"[%spwfAction%]","SELECT");
  var successf = function(rslt){
	rslt.rows[0].game_dt = pgDate(rslt.rows[0].game_dt);
	bindToForm("[%divId%]Form", rslt.rows[0]);
  }
  serverCall(params,successf,FAILF);
}

$(document).ready(function(){
  $("#[%divId%]Form-game_dt" ).datepicker();
});

function show[%ucfirst(divId)%](scoreId_){
  hideCurrentContentPane();
  $("#[%divId%]").fadeIn();
  currentContentPane = "[%divId%]";
  if(scoreId_){
	var params ={"where_clause":"golf_score_id=" +scoreId_};
	retrieveGolfScore(params);
  }
}

//]]>

</script>

<div id="[%divId%]" class="MainLayout MainContentPaneStyle" >
<form id="[%divId%]Form" >
<table id="[%divId%]FormTable" style="" class='formTable'>
<tr><td> Golfer </td><td><select name="golfer_id" id="[%divId%]Form-golfer_id"></select></td></tr>
<tr><td> Score </td><td><input  type="text" name="golf_score" id="[%divId%]Form-golf_score"/></td></tr>
<tr><td> Date</td><td><input type="text"  name="game_dt" id="[%divId%]Form-game_dt"/></td></tr>
<tr><td colspan="2"><button type="button" id="[%divId%]FormSave" value="Save" onclick="save[%ucfirst(divId)%]Form();" >Save</button></td></tr>
</table>
<input type="hidden" name="last_update" id="[%divId%]Form-last_update">
<input type="hidden" name="golfer_score_id" id="[%divId%]Form-golf_score_id">
</form>
</div> [%# end golfScoreSummary%]
