[%divId="golfScoreSummary"%]
[%spwfAction="golf_score_summary"%]
<script type="text/javascript">

var golfScoreSummaryList = new Array();
function retrieveGolfScoreSummary(){
$("#[%divId%]Table").html("");
 var params =prepParams(params,"[%spwfAction%]" ,"select" );
  var successf = function (rslt){
	golfScoreSummaryList=rslt.rows;
	displayGolfScoreSummaryList(golfScoreSummaryList);
  };
  var failf = function(){alert("failed");}
  serverCall(params,successf,failf);

}
function display[%ucfirst(divId)%]List([%divId%]List_){
  var newrowsHTML = "<tr> <th>Golfer</th><th class='accentColumn'>Last 10 Avg</th><th>Period</th><th class='accentColumn'>I want to&hellip;</th></tr>";
  var gs = {};
  for(var ndx=0; ndx<[%divId%]List_.length; ndx++){
	newrowsHTML +=build[%ucfirst(divId)%]Row(golfScoreSummaryList_[ndx]);
  }
  $("#[%divId%]Table").html(newrowsHTML);
}

function build[%ucfirst(divId)%]Row(gs){
var newrow ="<tr><td>" + gs.golfer_name+"</td>";
	newrow +="<td class='accentColumn'>" + formatNumber(gs.golf_score,2,true,false,true)+ "</td>";
	newrow +="<td>" + pgDate(gs.first_date) + " - " + pgDate(gs.last_date) + "</td>";
	newrow +="<td class ='accentColumn'><a class='alink' onclick='showGolfScore(" +gs.golfer_id +")'>View Scores</a> | ";
	newrow +=" <a href='#' onclick='showGolfer(" +gs.golfer_id +")'>View Golfer</a></td>";
	newrow +="</tr>";
return newrow;

}

function show[%ucfirst(divId)%](){
	retrieve[%ucfirst(divId)%]();
	standardShowContentPane("[%divId%]");
}
</script>
<div id="[%divId%]" class="MainLayout MainContentPaneStyle contentPane"  >

<table id="[%divId%]Table"  class='dataTable' >
</table>
</div> [%# end golfScoreSummary%]
