[%divId="golferHistory"%]
<script type="text/javascript">
var [%divId%]Ctl;
function [%ucfirst(divId)%]Ctl($http){
  [%divId%]Ctl = this;
  var golferId;
  this.golferId=0;
  this.retrieve[%ucfirst(divId)%] = function(golferId_){ 
    	var startTime;
  	var params={};
 	[%divId%]Ctl.golferId = golferId_;
  	params=  prepParams(params,"golf_score" ,"select" );
  	params['where_clause'] = "golfer_id =" + golferId_;
  	startTime= new Date();
  	$http.post(urlTarget,params).success(function(data, status, headers, config) {
	  if(handleServerResponse("Sucessfully Retrieved Golfer History",startTime, data)){
	         [%divId%]Ctl.[%divId%] = data.rows;
	  }
  	});
  }//endretrieveGolferHistory
}//end class


function show[%ucfirst(divId)%](golferId_){
  [%divId%]Ctl.retrieve[%ucfirst(divId)%](golferId_); 
  hideCurrentContentPane();
  $("#[%divId%]").fadeIn();
  currentContentPane="[%divId%]";
}
</script>
<div id="[%divId%]" class="MainLayout MainContentPaneStyle" ng:controller="[%ucfirst(divId)%]Ctl" >
{{this.golferId | golferNameFromId}}
<table id="[%divId%]Table" style="border-width: 1px; border-style:solid;" class='dataTable' >
<tr> <th>Score</th><th>Date</th> </tr>
  <tr ng:repeat="history in golferHistory">
  	<td><a onclick="showGolfScore({{history.golf_score_id}})">{{history.golf_score |FormatNumber:0:true:false:true}}</a></td><td>{{history.last_update |pgDate}} </td>
 </tr>
</table>
</div> <!--end:[%ucfirst(divId)%]-->
