[%divId="golfScoreCreate"%]
<div id="[%divId%]" class="MainLayout MainContentPaneStyle" ng:controller="GolfScoreCtl">
<form id="golfScore" action="">
<table id="golfScoreFormTable" style="" class='formTable'>
<tr><td> Golfer </td><td><select ng:model="golfScoreForm.golferSelect" ng:options="golferiterator.lbl for golferiterator in golfers" ></select></td></tr>
<tr><td> Score </td><td><input ng:model="golfScoreForm.golf_score" type="text"/></td></tr>
<tr><td colspan="2"><button type="button" id="golfScoreFormSave" value="Save" ng:click="saveGolfScore(this.golfScoreForm)" >Save</button><input type="hidden" id="last_update"></td></tr>
</table>
</form>
{{golfers}}<br>
<pre>
{{golfScoreForm}}
</pre>



</div> [%# end golfScoreSummary%]




<script type="text/javascript">
var golfScoreCtl;
function GolfScoreCtl($http){
  golfScoreCtl = this;
  this.golfers;
  //this.addScore = function(params){
 // 	if (params == null) var params = {};
//	alert("Golf Score" + params['score']);
 // }
  this.saveGolfScore = function (args){ 
	"use strict";
    var startTime, stopTime;
    var rowCount, rowNdx,r, newHTML, newRow;
var params = {};

    if (args != null)digest(params, args);  
    params['spwfResource'] = "golf_score";
    if(params['last_update']!= null && params['last_update']!= ""){
      params['spwfAction'] = "update";
    }else{
      params['spwfAction'] = "insert";
    }
    params['golfer_id'] = params.golferSelect.val;
    params['golferSelect']=null;//don't forward to server
startTime=new Date();
registerAction();
$http.post(urlTarget,params).success(function(data, status, headers, config) {
	stopTime=new Date();
	if(!validateServerResponse(data)){
		alert("[%serverErrorMsg_Communication%]");
		return false
	}
	statusMsg("Saved Golf Score in " + (stopTime.getTime()-startTime.getTime())/1000 + "s" );
    });


  }// end savegolfscore
}//end GolfScoreCTL

function show[%ucfirst(divId)%](){
  $("#[%divId%]").fadeIn();
  return "[%divId%]";
}

</script>
