[%divId="golfScore"%]
<script type="text/javascript">
var [%divId%]Ctl;
function [%ucfirst(divId)%]Ctl($http){
   [%divId%]Ctl = this;
   [%divId%]Ctl.save[%ucfirst(divId)%] = function (params){ "use strict";
      var startTime;
      params = prepParams(params,"golf_score",insertUpdateChoose);
      params['golfer_id'] = params.golferSelect.val;
      params['golferSelect']=null;//don't forward to server
      startTime=new Date();
      $http.post(urlTarget,params).success(
	function(data, status, headers, config) {
 		handleServerResponse("Saved Golf Score ",startTime, data);
        }
      );
    }// end save

    [%divId%]Ctl.retrieve[%ucfirst(divId)%] = function(params){"use strict";
	var startTime = new Date();
	params = prepParams(params,"golf_score","SELECT");
 	$http.post(urlTarget,params).success(
		function(data, status, headers, config) {
 			handleServerResponse("Retrieved Golf Score ",startTime, data);
			[%divId%]Ctl.bindToForm(data.rows[0]);
        	}
    	);
    }// end retrieve

    [%divId%]Ctl.bindToForm =function (data){
    	[%divId%]Ctl.[%divId%]Form = data;
	[%divId%]Ctl.[%divId%]Form.golferSelect=filterCacheArrayByVal(golfScoreCtl.golfers, data.golfer_id );
    }


//$( "#datePlayedId" ).datepicker();

}//end GolfScoreCTL


function show[%ucfirst(divId)%](scoreId_){
  hideCurrentContentPane();
  $("#[%divId%]").fadeIn();
  currentContentPane = "[%divId%]";
  if(scoreId_){
	var params ={"where_clause":"golf_score_id=" +scoreId_};
	[%divId%]Ctl.retrieveGolfScore(params);
  }
}
//$(function() {
//		$( "#datePlayedId" ).datepicker();
//	});
</script>

<div id="[%divId%]" class="MainLayout MainContentPaneStyle" ng:controller="[%ucfirst(divId)%]Ctl">
<form id="[%divId%]Form" action="">
<table id="[%divId%]FormTable" style="" class='formTable'>
<tr><td> Golfer </td><td><select ng:model="[%divId%]Form.golferSelect" ng:options="golferiterator.lbl for golferiterator in golfers" ></select></td></tr>
<tr><td> Score </td><td><input ng:model="[%divId%]Form.golf_score" type="text" id="test"/></td></tr>
<tr><td> Date</td><td><input ui-date ng:model="[%divId%]Form.game_dt" type="text"  id="datePlayedId"/></td></tr>
<tr><td colspan="2"><button type="button" id="[%divId%]FormSave" value="Save" ng:click="saveGolfScore(this.golfScoreForm)" >Save</button></td></tr>
</table>
<input type="hidden" ng:model="[%divId%]Form.last_update">
<input type="hidden" ng:model="[%divId%]Form.golfer_id">
<input type="hidden" ng:model="[%divId%]Form.golfer_score_id">
</form>
</div> [%# end golfScoreSummary%]
