<head> 
<title> Simple2 Demo</title> 
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<script type="text/javascript"> 
//<![CDATA[
//header1.js
[%INCLUDE core/_header1.js%]
//cache.js
[%INCLUDE _cache.js%]
//jquery.js
[%INCLUDE "includes/jquery-1.7.1.min.js"%]
//jqueryui.js
[%INCLUDE "includes/jquery-ui-1.8.18.custom.min.js"%]
//]]>
</script>
<style type="text/css">
[%INCLUDE style/_PixelGreen.css%]
[%INCLUDE "style/jquery-ui-1.8.18.custom.css"%]
    input.invalid { border: solid 1px red; }
    .ValidationMsg{
	color:red;
    }
[%INCLUDE style/_main.css%]
</style>
</head>
