[%divId="helpPane"%]
<div id="[%divId%]" class="MainLayout MainContentPaneStyle" style="text-align:left; ">
<div id ="[%divId%]CenterDiv" style="position:relative;width:300; height: 500; margin-left:auto; margin-right:auto; background-color:white; max-width:300; ">
<h1 id="helpPaneTitle" >Help&hellip;</h1>
<ul>
<li><a id="aboutGolfScore" onclick="showAboutPane();">About</a></li>
			<li><a id="logViewer" onclick="showClientLogViewer();">Log</a></li>

</ul>

</div>[%#golfScoreCenterDiv%]
</div>[%#aboutPane%]
<script type="text/javascript">

function show[%ucfirst(divId)%](){
  hideCurrentContentPane();
  $("#[%divId%]").fadeIn();
  currentContentPane = "[%divId%]";
  return "[%divId%]";
}

</script>

