[%divId="launchPane"%]
<!--MainLayout MainContentPaneStyle -->
<div id="[%divId%]" class=" contentPane" style="text-align:left; ">
  <div id ="[%divId%]CenterDiv" >
    [%#style="position:relative;width:300; height: 500; margin-left:auto; margin-right:auto; max-width:300; " %]
    <div class="row">
      <h1 id="[%divId%]Title" >I want to&hellip;</h1>
    </div>
    <div class="row">
      <span class="twocol largeIconSpan"><a id="launcherShowGolfScore" onclick="showGolfScoreSummary();">
	  <span class="sprite64Icon kolfIcon"></span><br/>
	  View Averages</a>
      </span>
      <span class="twocol largeIconSpan"><a id="launcherShowQuickGolfScore" onclick="showQuickGolfScore();">
	  <span class="sprite64Icon lightningFolderIcon"></span><br/>
	  Quick Entry</a>
      </span>

      <span class="twocol  largeIconSpan"><a id="launcherShowGolfer" onclick="showGolfer();">
	  <span class="sprite64Icon peopleIcon"></span><br/>
	  View Golfers</a>
      </span>
      <span class="twocol largeIconSpan"><a id="launcherShowHelp" onclick="showHelpPane();">
	  <span class="sprite64Icon helpIcon"></span><br/>
	  Get Help</a>
      </span>

      <span class="twocol largeIconSpan"><a id="launcherShowHelp" onclick="showSecurityGrants();">
	  <span class="sprite64Icon keyIcon"></span><br/>
	  Grants</a>
      </span>
      <span class="twocol last largeIconSpan"><a id="launcherShowHelp" onclick="showSecurityUser();">
	  <span class="sprite64Icon keyManIcon"></span><br/>
	  Profiles</a>
      </span>
      <span class="twocol last largeIconSpan"><a id="launcherShowHelp" onclick="showChangePasswordDialog();">
	  <span class="sprite64Icon lockIcon"></span><br/>
	  Change Password</a>
      </span>
    </div>
  </div>
</div>
<script type="text/javascript">

  function show[%ucfirst(divId)%](){
    hideCurrentContentPane();
    $("#[%divId%]").fadeIn();
    currentContentPane = "[%divId%]";
    $(document).keypress(function(e) {
      //alert(e.which);
	switch(e.which){
	 case 103:showSecurityGrants(); break;
	 case 113:showQuickGolfScore(); break;
	 case 112:showSecurityUser(); break;


	}
	    });
   return "[%divId%]";
  }


</script>

