<div id="header" class="MainLayout" style="position:fixed; top: 0; left:0; width:100%;  background-color:white; min-height:25px; height:auto!important;height:25px;">Header 
 <a href="" id="logOutLink"> Log Out</a>

</div>
<div id="footer" class="MainLayout" style="position:fixed; bottom: 0; left:0; min-height:25px; height:auto!important;height:25px;width:100%; background-color:#DCDCDC;"><span id="statusMsg" ></span></div>

<div id='leftnav' class="MainLayout" style='position:fixed; top:25px; left:0; width:200px; margin:0px ; padding: 5px;background-color:green;overflow:auto'> l
left nav stuff
</div>

