<script type="text/javascript">
//<![CDATA[
function sizeLeftNav(){
[%headerHeight = 100%]
[%leftNavWidth = 0%]
  document.getElementById('leftnav').style.height= (window.innerHeight-60) +"px";
  document.getElementById('mainContent').style.top="[%headerHeight%]px";
  document.getElementById('mainContent').style.left="0px";
  document.getElementById('mainContent').style.height=(window.innerHeight - [%headerHeight + 35%] ) +"px";
  document.getElementById('mainContent').style.width=(window.innerWidth- [%leftNavWidth +20%] ) +"px";
}
function displayMainLayout(showHide){
  var display = (showHide)?"block":"none";
  //document.getElementById('leftnav').style.display=display;
  document.getElementById('header').style.display=display;
  document.getElementById('footer').style.display=display;
  document.getElementById('mainContent').style.display=display;
  display = (showHide)?"none":"block";
  document.getElementById('LoginPortal').style.display=display;
}

$(document).ready( function(){
});

//]]>
</script>
<div id="header"><div id="header-content">	
	<h1 id="logo"><a href="index.html" title="">golf<span class="gray">score</span></a></h1>	
		<h2 id="slogan">keepin' it honest...</h2>

		<div id = "topMenuBar" style="display:none;"> [%#initially hidden%]
		<ul>
			<li><a id="SummaryPage" onclick="showGolfScoreSummary();">Home</a></li>
			<li><a id="GolfersPage" onclick="showGolfer();">Golfers</a></li>
			<li><a id="aboutGolfScore" onclick="showAboutPane();">About</a></li>
			<li><a id="logViewer" onclick="showClientLogViewer();">Log</a></li>
			<li id="logout"><a >Logout</a></li>			
		</ul>	</div>[%#End Top Menu Bar%]
	</div [%# end header%]></div [%# end header-content%]>

<div id="footer" class="MainLayout" style="position:fixed; bottom: 0; left:0; min-height:25px; height:auto!important;height:25px;width:100%; background-color:#DCDCDC;"><span id="statusMsg" ></span></div>

<div id='leftnav' class="MainLayout" style='position:fixed; top:25px; left:0; width:200px; margin:0px ; padding: 5px;background-color:green;overflow:auto;'> 
</div>
<div id="briefNotice" style="display:none;">
<table style="width:100%">
  <tr>  <td style="width:33%" class="noborder">&nbsp;</td>
	<td style="width:33%" class="noborder"><div id="briefNoticeMsg"></div></td>
	<td style="width:33%" class="noborder">&nbsp;</td>
  </tr>
</table>
</div>
