
<div id="LoginPortal" style="position:fixed; height:100%; width:100%">
<div  class="vcenter">
<form name="loginForm" action="">  
  <fieldset style="border:0">  
<!-- -->
    <table class="formLayout" style="margin: auto;" vertical-align="middle">
    <tr><td colspan="3" class="formHeaderTD"><span class="formHeader">Login</span> <br/>
	<span class="small" >Please enter your login credentials</span><hr/></td></tr>
    <tr>
    <td class="labelColumn" style="" ><label for="user_id" id="user_id_label" >User ID</label> </td> 
    <td><input type="text" name="user_id" id="user_id" size="30" value="" class="fieldbox" /> </td> 
    <td class="errorColumn">   <label class="error" for="user_id" id="user_id_error"></label> </td> 
     </tr><tr>
    <td class="labelColumn"><label for="password" id="password_label">Password</label>  </td>
    <td><input type="password" name="password" id="password" size="30" value="" class="fieldbox" />  </td> 
    <td class="errorColumn">   <label class="error" for="password" id="password_error"></label>  </td>
     </tr><tr>
    <td colspan="3" align="center" style="padding: 15px"><button type="submit" name="submit"  id="login_button" class="custombutton" value="Send" > Login </button>  </td>
</tr></table>


  </fieldset>  
</form>  
</div>
</div> <!--loginportal--> 

