<!--Begin LoginPortal-->
[%divId="LoginPortal"%]
[%spwfResource="security_user"%]

<script type="text/javascript">
  //<![CDATA[
function loginCall(){
  var params = bindForm("[%divId%]Form");
  [%#prepParams will not work here %]
    params['spwfResource'] = "security_user";
  params['spwfAction'] = "authenticate";
  var successf = function (rslt){
    if(!rslt[SERVER_SIDE_FAIL]){
      var r = rslt.rows[0];
      if(r.session_id ==""){
	alert("Sorry, I Couldn't validate those Credentials");
	$("#password").val("");
      }else{
	statusMsg("Successfully Authenticated User: " + r.user_id );
	usrSessionId = r.session_id;
	usrLoginId = r.user_id;
	onSuccessfulLogin();
      }
    }else{
      briefNotify("There was a problem communicating with the Server.","ERROR")
    }

  };
  if (validate[%divId%]Form())serverCall(params,successf,FAILF);
}


function validate[%divId%]Form (){
  var formValid  = standardValidate("[%divId%]Form");
  return formValid;
}

function onSuccessfulLogin(){
  $("#password").val("");
  displayMainLayout(true);
  $("#topMenuBar").show();
  registerAction();
  timeoutIfNoAction();
  showLaunchPane();
  retrieveCache();
}
function logOutUser(){
  usrSessionId="";
  usrLoginId="";
  $("#[%divId%]Form-user_id").val("");
  $("#[%divId%]Form-password").val("");
  displayMainLayout(false);
  $("#topMenuBar").hide();
  hideMainContent();
  return;
}


$(document).ready(function(){
    $("#[%divId%]Form-user_id").val("golfscore");
    $("#[%divId%]Form-password").val("golfscore");
    showLoginPortal();
    });

function showLoginPortal(){
  $(document).keypress(function(e) {
      if(e.keyCode == 13) {//enter
      loginCall();
      }
      });
}

//]]>
</script>
<div id="[%divId%]"  class="contentPane container">
  <div class="row ">
    <img class="center" id="headerSplash" src="./images/headerphoto.jpg" alt="Login Page Splash">
  </div>
  <div  id="loginFormRow" class="row ">
    <div class="center" style="width:30em;"> 
      <form id="[%divId%]Form" >
	<div class="formLayout_Standard" style="width:30em;">
	    <h1>Login</h1>
	    <span class="small" >Please enter your login credentials</span><hr/>

	    [%dbColumnName = 'user_id'%]
	    [%labelWidth='7em'%]
	    [%validationMsgWidth='0em'%]
	    <div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
	      <label for ="[%divId%]Form-[%dbColumnName%]" style="display:inline-block;width:[%labelWidth%];" id="[%divId%]FormLabel-[%dbColumnName%]">User ID</label>
	      <input type="text" style="width:15em"name="[%dbColumnName%]" id="[%divId%]Form-[%dbColumnName%]" class="VALIDATErequired">	    
	      <span class="ValidationMsg" style="width:[%validationMsgWidth%]" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
	    </div>
	    [%dbColumnName = 'password'%]
	    <div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
	      <label for ="[%divId%]Form-[%dbColumnName%]" style="display:inline-block;width:[%labelWidth%];" id="[%divId%]FormLabel-[%dbColumnName%]">Password</label>
	      <input type="password" style="width:15em"name="[%dbColumnName%]" id="[%divId%]Form-[%dbColumnName%]" class="VALIDATErequired">	    
	      <span class="ValidationMsg" style="width:[%validationMsgWidth%]" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
	    </div>

	    <div class="formButtons">

	      <button type="button"  id="cmdlogin" class="custombutton "  onclick="loginCall()" > Login </button>  
	    </div>
	  </div>  
      </form>  
    </div>
  </div> <!--loginportal--> 
  <!--End LoginPortal-->
