<!--Begin LoginPortal-->

<script type="text/javascript">
//<![CDATA[
function loginCall(){
  var params = bindForm("loginHolder");
  [%#prepParams will not work here %]
  params['spwfResource'] = "security_user";
  params['spwfAction'] = "authenticate";
  var successf = function (rslt){
	   var r = rslt.rows[0];
	   if(r.session_id ==""){
		alert("Sorry, I Couldn't validate those Credentials");
		$("#password").val("");
	   }else{
		statusMsg("Successfully Authenticated User: " + r.user_id );
		usrSessionId = r.session_id;
		usrLoginId = r.user_id;
		onSuccessfulLogin();
	   }
  };
  if (validateLoginHolder())serverCall(params,successf,FAILF);
}


function validateLoginHolder (){
  var formName="loginHolder ";
  var formValid  = standardValidate("loginHolder");
  return formValid;
}

function onSuccessfulLogin(){
	$("#password").val("");
	displayMainLayout(true);
	$("#topMenuBar").show();
	registerAction();
	timeoutIfNoAction();
	showLaunchPane();
	retrieveCache();
}
function logOutUser(){
  usrSessionId="";
  usrLoginId="";
  $("form#loginHolder #user_id").val("");
  $("form#loginHolder #password").val("");
  displayMainLayout(false);
  $("#topMenuBar").hide();
  hideMainContent();
  return;
}


$(document).ready(function(){
	$("form#loginHolder #user_id").val("golfscore");
	$("form#loginHolder #password").val("golfscore");
	showLoginPortal();
});

function showLoginPortal(){
  $(document).keypress(function(e) {
    if(e.keyCode == 13) {//enter
        loginCall();
    }
  });
}

//]]>
</script>
<div id="LoginPortal"  class="contentPane container">
  <div class="row ">
	<img class="center" id="headerSplash" src="./images/headerphoto.jpg" alt="Login Page Splash">
  </div>
  <div  id="loginFormRow" class="row ">
    <form id="loginHolder"  >  
      <fieldset > 
       <div class="center" style="width:25em;"> 
   	<div class="prettyFormHolder "  > 
   	  <table class="formLayout" >
    	    <tr><td colspan="3" class="formHeaderTD"><span class="formHeader">Login</span> <br/>
		<span class="small" >Please enter your login credentials</span><hr/></td>
	    </tr>
    	    <tr>
    	      <td class="labelColumn" style="" ><label for="user_id" id="user_id_label" >User ID</label> </td> 
              <td><input type="text"  name="user_id" id="user_id" size="30" class="fieldbox required"  /> </td> <td>
			<span class="ValidationMsg" id="user_idError"></span></td>
     	    </tr>
	    <tr>
    		<td class="labelColumn"><label for="password" id="password_label">Password</label>  </td>
    		<td><input type="password" name="password" id="password" size="30" class="fieldbox required"  />  
		</td>  
		<td><span class="ValidationError" id="passwordError"></span></td>
     	    </tr>
	    <tr>
    		<td colspan="3" align="center" style="padding: 15px; ">
		  <button type="button"  id="cmdlogin" class="custombutton "  onclick="loginCall()" > Login </button>  
    		</td>
	    </tr>
        </table>
</div>
</div[%#prettyFormHolder%]>  
</fieldset>  
</form>  
</div>
</div> <!--loginportal--> 
<!--End LoginPortal-->
