[%divId="quickGolfScore"%]
[%spwfResource="golf_score"%]
[%prkey="golf_score_id"%]

[%UPDATE_GRANT=  "UPDATE_" _ spwfResource FILTER upper%]
[%INSERT_GRANT=  "INSERT_" _ spwfResource  FILTER upper%]
[%SELECT_GRANT=  "SELECT_" _ spwfResource  FILTER upper%]
[%DELETE_GRANT=  "DELETE_" _ spwfResource  FILTER upper%]


<script type="text/javascript">
	//<![CDATA[
"use strict";
//Server Calls
function retrieve[%ucfirst(divId)%]List(){
	if(!isUserAuthorized("[%SELECT_GRANT%]", true, "retrieve[%ucfirst(divId)%]List") ) return false; 

	$("#[%divId%]ListTable").html("");
	var params =prepParams(params,"[%spwfResource%]" ,"select" );
	params['orderby_clause'] =" order by game_dt desc"
		var successf = function (rslt){
			if(!rslt[SERVER_SIDE_FAIL]){
				populate[%ucfirst(divId)%](rslt.rows)
			}else{
				briefNotify("There was a problem communicating with the Server.","ERROR")
			}
		};
	serverCall(params,successf,FAILF);
}
function retrieve[%ucfirst(divId)%](params){
	if(!isUserAuthorized("[%SELECT_GRANT%]", true, "retrieve[%ucfirst(divId)%]" ) ) return false; 

	params = prepParams(params,"[%spwfResource%]","SELECT");
	var successf = function(rslt){
		if(!rslt[SERVER_SIDE_FAIL]){
			rslt.rows[0].game_dt = pgDate(rslt.rows[0].game_dt);
			bindToForm("[%divId%]Form", rslt.rows[0]);
			toggleSaveMode("[%divId%]Form",true);
		}else{
			briefNotify("There was a problem communicating with the Server.","ERROR")
		}

	}
	serverCall(params,successf,FAILF);
}



function delete[%ucfirst(divId)%]([%toCC(prkey)%]_, lastUpdate_){
	if(!isUserAuthorized("[%DELETE_GRANT%]"), true, "delete[%ucfirst(divId)%]" ) return false;


	var params =prepParams(params,"[%spwfResource%]" ,"delete" );
	params['[%prkey%]'] = [%toCC(prkey)%]_;
	params['last_update'] = lastUpdate_;
	var successf = function (rslt){
		if(!rslt[SERVER_SIDE_FAIL]){
			remove[%ucfirst(divId)%]ListTableRow(rslt.[%prkey%]);
			briefNotify("Golf Score Deleted Successfully","INFO");
		}else{
			briefNotify("There was a problem communicating with the Server.","ERROR")
		}

	};
	serverCall(params,successf,FAILF);
}

function save[%ucfirst(divId)%](params){
	if(!isUserAuthorized("[%UPDATE_GRANT%]", false) && !isUserAuthorized("[%INSERT_GRANT%]", false)){
		briefNotify("Access Violation:save[%ucfirst(divId)%] ","ERROR");
		return false;
	}

	params = prepParams(params,"[%spwfResource%]",insertUpdateChoose);
	var successf=function(rslt){
		clearForm('[%divId%]Form');
		if(!rslt[SERVER_SIDE_FAIL]){
			if (rslt.spwfAction == "UPDATE"){
				replace[%ucfirst(divId)%]ListTableRow(rslt.rows[0]);
			}else if (rslt.spwfAction == "INSERT"){
				addNew[%ucfirst(divId)%]ListTableRow(rslt.rows[0]);
			}
			briefNotify("Golf Score Successfully Saved","INFO");
			clear[%ucfirst(divId)%]Form();

		}
		else{
			briefNotify("Golf Score Saved Failed","ERROR");

		}
	};
	serverCall(params,successf,FAILF);
}

//ServerCall Wrappers
function edit[%ucfirst(divId)%]([%divId%]Id_){
	if( !isUserAuthorized("[%SELECT_GRANT%]", true, "edit[%ucfirst(divId)%]")) return false; 
	if (isUserAuthorized("[%UPDATE_GRANT%]",false) ){
		securityLockForm("[%divId%]Form", false);
	}else{securityLockForm("[%divId%]Form", true);}


	if([%divId%]Id_){
		var params ={"where_clause":"[%prkey%]=" +[%divId%]Id_};
		retrieve[%ucfirst(divId)%](params);
	}
}

function save[%ucfirst(divId)%]Form(){
	if(!isUserAuthorized("[%UPDATE_GRANT%]") && !isUserAuthorized("[%SELECT_GRANT%]")){
		briefNotify("Access Violation: save","ERROR");
		return false;
	}

	if(validate[%ucfirst(divId)%]Form()){
		var params = bindForm("[%divId%]Form");
		save[%ucfirst(divId)%](params);
	}
}

//validation
function validate[%ucfirst(divId)%]Form(){
	var formName="[%divId%]Form";
	var formValid  = standardValidate(formName);
	return formValid;
}

//Top Level HTML Manip
function populate[%ucfirst(divId)%](dataRows){
	var htmlAggregator ="<tr><th>Golfer</th> <th class='accentColumn'>Score</th><th >Date</th> <th class='accentColumn'>I want to&hellip;</th></tr>";
	for(var ndx=0;ndx< dataRows.length;ndx++){
		htmlAggregator +=build[%ucfirst(divId)%]ListTableRow(dataRows[ndx]);
	}
	$("#[%divId%]ListTable").html(htmlAggregator);
}

function build[%ucfirst(divId)%]ListTableRow(data){
	var htmlRow ="<tr id='[%ucfirst(divId)%]ListTableTR-" +data.[%prkey%] + "'>";
	htmlRow += "<td>"+GOLFER_CACHE[data.golfer_id] + "</td>";
	htmlRow += "<td class='accentColumn'>" + formatNumber(data.golf_score,0,true,false,true)  +"</td>";
	htmlRow += "<td >" + pgDate(data.game_dt) + " </td> ";
	htmlRow += "<td class='accentColumn'>";
	if(isUserAuthorized("[%UPDATE_GRANT%]", false)){
		htmlRow += "	<a class='alink' onclick='edit[%ucfirst(divId)%](" +data.[%prkey%] + ")'>Edit</a> ";
		htmlRow += " &nbsp; &nbsp ";
	}else if(isUserAuthorized("[%SELECT_GRANT%]", false)){
		htmlRow += "<a class='alink' onclick='edit[%ucfirst(divId)%](" +data.[%prkey%] + ")'>View</a> ";
		htmlRow += " &nbsp; &nbsp;";

	}

	if(isUserAuthorized("[%DELETE_GRANT%]", false)){
		htmlRow += "<a class='alink' onclick=\"delete[%ucfirst(divId)%](" +data.[%prkey%] + ",'"+data.last_update +"')\">Delete</a>  ";
	}
	htmlRow += "</td>";
	htmlRow += "</tr>";
	return htmlRow;
}

function replace[%ucfirst(divId)%]ListTableRow(row){
	$("table#[%divId%]ListTable #[%ucfirst(divId)%]ListTableTR-"+row.[%prkey%]).replaceWith(build[%ucfirst(divId)%]ListTableRow(row));
}
function addNew[%ucfirst(divId)%]ListTableRow(row){
	$("table#[%divId%]ListTable TR").first().after(build[%ucfirst(divId)%]ListTableRow(row));
}
function remove[%ucfirst(divId)%]ListTableRow([%toCC(prkey)%]_){
	$("table#[%divId%]ListTable #[%ucfirst(divId)%]ListTableTR-"+[%toCC(prkey)%]_).replaceWith("");
}

//Div Access and App Layout Calls
function show[%ucfirst(divId)%](){
	retrieve[%ucfirst(divId)%]List(); 
	hideCurrentContentPane();
	$("#[%divId%]").fadeIn();
	currentContentPane="[%divId%]";
	if ( isFormEmpty("[%divId%]Form")) toggleSaveMode("[%divId%]Form",false);

}

function clear[%ucfirst(divId)%]Form(){
	clearForm('[%divId%]Form');
	(isUserAuthorized("[%INSERT_GRANT%]", false))?securityLockForm("[%divId%]Form", false) :securityLockForm("[%divId%]Form", true);
}


//After complete Load setup
$(document).ready(function(){
		$("#[%divId%]Form-game_dt" ).datepicker();
		});

//page specific functions
function retrieveGolferNameForGolfScore(golferId_){
	if(!isUserAuthorized("[%SELECT_GRANT%]", true, "retrieveGolferNameForGolfScore" ) ) return false; 

	var params = prepParams(params,"GOLFER","SELECT");
	params['where_clause'] = "golfer_id =" + golferId_;
	var successf = function(rslt){
		$("#[%divId%]GolferNameId").html(rslt.rows[0].name);
	}
	serverCall(params,successf,FAILF);
}
function impose[%ucfirst(divId)%]SecurityUIRestrictions(){
	var divIdToSecure;
	divIdToSecure ="#[%divId%]FormSave";
	(isUserAuthorized("[%UPDATE_GRANT%]", false))? securityshow(divIdToSecure):securityHide(divIdToSecure);

	divIdToSecure ="#[%divId%]FormAdd";
	(isUserAuthorized("[%INSERT_GRANT%]", false))? securityshow(divIdToSecure):securityHide(divIdToSecure);

	divIdToSecure ="#[%divId%]EntryDivId";
	(isUserAuthorized("[%UPDATE_GRANT%]",false) ||isUserAuthorized("[%INSERT_GRANT%]",false) )? securityshow(divIdToSecure):securityHide(divIdToSecure);

	if(!isUserAuthorized("[%INSERT_GRANT%]",false ) && !isUserAuthorized("[%UPDATE_GRANT%]", false) ){
		securityLockForm("[%divId%]Form", true);

	}
	if(!isUserAuthorized("[%INSERT_GRANT%]",false) && isFormEmpty("[%divId%]Form") ){
		securityLockForm("[%divId%]Form", true);
	}

}


//]]>

</script>
<div id="[%divId%]" class="contentPane MainLayout"  >
	<h1 id="[%divId%]h1" class="pageTitle">Recent Golf Scores</h1>
	<div class="row">
		<span class="sixcol">
			<table id="[%divId%]ListTable"  class='dataTable' >
			</table>
		</span>
		<span class = "sixcol last">
			<form id="[%divId%]Form" >
				<div class="formLayout_Standard" id="[%divId%]EntryDivId">
					[%dbColumnName = 'golfer_id'%]
					<div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
						<label for ="[%divId%]Form-[%dbColumnName%]" id="[%divId%]FormLabel-[%dbColumnName%]">Name</label>
						<select style="width:15em"name="[%dbColumnName%]" id="[%divId%]Form-[%dbColumnName%]" class="VALIDATErequired"></select>
						<span class="ValidationMsg" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
					</div>
					[%dbColumnName = 'golf_score'%]
					<div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
						<label for ="[%divId%]Form-[%dbColumnName%]" id="[%divId%]FormLabel-[%dbColumnName%]">Score</label>
						<input  type="text" class="VALIDATEinteger" name="[%toCC(dbColumnName)%]" id="[%divId%]Form-[%dbColumnName%]"/>
						<span class="ValidationMsg" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
					</div>
					[%dbColumnName = 'game_dt'%]
					<div class="formFieldGroup" id="[%divId%]Form-[%dbColumnName%]DivId">
						<label for ="[%divId%]Form-[%dbColumnName%]" id="[%divId%]FormLabel-name">Date</label>
						<input type="text"  name="[%toCC(dbColumnName)%]" id="[%divId%]Form-[%dbColumnName%]" class="VALIDATEmmddyyyydate"/>
						<span class="ValidationMsg" id="[%divId%]FormLabel-[%toCC(dbColumnName)%]Error"></span>
					</div>



					<div class="formButtons">

						<button type="button" id="[%divId%]FormSave" value="Save" onclick="save[%ucfirst(divId)%]Form();" >Save</button>
						<button type="button" id="[%divId%]FormAdd" value="Add" onclick="save[%ucfirst(divId)%]Form();" >Add</button>
						<button type="button" id="[%divId%]FormClear" value="Clear" onclick="clear[%ucfirst(divId)%]Form();" >Clear</button>
					</div>
					<input type="hidden" name="last_update" id="[%divId%]Form-last_update">
					<input type="hidden" name="golfer_score_id" id="[%divId%]Form-golf_score_id">
				</div>
			</form>

		</span>
	</div>
</div> <!--end:[%ucfirst(divId)%]-->
