[%- FILTER redirect("/appExt.js") -%]

//jquery.js
[%INCLUDE "includes/jquery-1.7.1.min.js"%]
//jqueryui.js
[%INCLUDE "includes/jquery-ui-1.8.18.custom.min.js"%]
//datatables
[%INCLUDE "includes/jquery.dataTables.min.js"%]
//jqueryHistory
[%#INCLUDE "includes/jquery.history.js"%]

[%- END #filter -%]
