.MainContentPaneStyle{
  width:100%;
  height:100%;
  display:none;
  overflow:auto;
  /*background-color:green;*/
  padding: 5px 5px 5px 5px ;
}
.MainLayout{
  display:none;/*Initially Hidden*/
}

body{
/*  font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
*/
}
.small{
  color:#666666;
  display:block;
  font-size:11px;
  font-weight:normal;
  text-align:left;
}
[%# Form Layout%]
.error{
  color: red;
}

.largeIconSpan{
  display:inline-block; 
  border-style:none;
  text-align:center;
  padding:15px;
  margin:15px;
}

.sprite64Icon{
 display:inline-block;
 height:64px;
 width:64px;
 background:url(images/consolidatedIcons.png) no-repeat;
 padding: 0 0 0 0;
}
.kolfIcon{
background-position:0 0 ;
}
.peopleIcon{
background-position:0px -100px;
}

	



input{
  float:left;
  font-size:12px;
  padding:4px 2px;
  border:solid 1px ;
  width:200px;
  margin:2px 0 20px 10px;
}
select{
  width:200px;
}

.formLayout .labelColumn{
  text-align:right;
  font-weight:bold;
  padding:7px 25px 20px 50px;
}
table.formLayout{
  /*border-width: 2px;
  border-style: solid;
  border-color:green;
*/
  background-color:white;
}
.prettyFormHolder{
  border-width: 2px;
  border-style: solid;
  border-color:green;
  border-radius:25px;
  background-color:white;
  display:inline-block;
  padding: 15px;
}
.formLayout button{
  clear:both;
  background-color:#666666;
  width:125px;
  height:31px;
  text-align:center;
  line-height:31px;
  color:#FFFFFF;
  font-size:11px;
  font-weight:bold;
}
.formLayout .formHeader{
  font-weight: bold;
  font-size: 150%;
}
fieldset {
  border-width:0px;
  border-style:transparent;
}

.formLayout .errorColumn{
  width:50px;
}
.formHeaderTD{
  padding:15px;
}

.vcenter {
  position:absolute; 
  top:0; bottom:0; left:0; right:0;
  margin:auto; 
  height:240px; width:70%;
}
#statusMsg{
  display:block;
  position: relative;
  top: 5px;
  left: 5px;
  border-width: 1px;
  border-style: outset;
  width: 500px;
  padding:1px;
}

.dataTable{

}
.dataTable th{
font-weight:bold;
}

.formTable{
border-style:none;
}
.formTable td{
border-style:none;
}

#briefNotice {
   position:absolute;
   bottom:0;
   width:100%;
   height:75px; 
   padding-bottom:15px;  
}
#briefNoticeMsg{
  display:inline-block;
  padding:15px;
  width:200px;
  background: #FFF url(./images/gradientbg.jpg) repeat-x;
  color:#74A846;
  border-width:1px;
  border-style:solid;
  border-radius:15px;
/*background: #74A846;
color: #fff;
*/
}
.noborder{
  border-left:none;
}

input.invalid { 
  border: solid 1px red; 
}
.ValidationMsg{
  color:red;
}
.centerblock{
display: block;
margin-left: auto;
 margin-right: auto;
}
