[%primaryColor="#246B24"%]
[%grayColor="#666666"%]
[%standardBackgroundColor="#FFF"%]
[%lightGrayColor="#BFBFBF"%]
[%lighterGrayColor="#EFEFEF"%]
[%accentColumnColor="#F5F5F5"%]
.MainContentPaneStyle{
  width:100%;
  height:100%;
  display:none;
  overflow:auto;
  padding: .4em ;
}
.MainLayout{
  background: [%standardBackgroundColor%] url(./images/gradientbg.jpg) repeat-x;
  display:none;/*Initially Hidden*/
}

body{
  font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  font-size:1.1em;

}
h1{
	color: [%primaryColor%]
}
.small{
  color:[%grayColor%];
  display:block;
  font-size:.8em;
  font-weight:normal;
  text-align:left;
  margin-top:0;
  margin-bottom:0;
  padding-top: 0;
  padding-bottom: 0;
}

.largeIconSpan{
  display:inline-block; 
  border-style:none;
  text-align:center;
  padding:15px;
  margin:15px;
}

.sprite64Icon{
  display:inline-block;
  height:64px;
  width:64px;
  background:url(images/consolidatedIcons.png) no-repeat;
  padding: 0 0 0 0;
}

.sprite32Icon{
  display:inline-block;
  height:32px;
  width:32px;
  background:url(images/consolidatedIcons.png) no-repeat;
  padding: 0 0 0 0;
}



.kolfIcon{
  background-position:0 0 ;
}
.peopleIcon{
  background-position:0px -100px;
}
.learnMoreIcon{
  background-position:0px -200px;
}
.helpIcon{
  background-position:0px -300px;
}
.keyIcon{
  background-position:0px -400px;
}
.keyManIcon{
  background-position:0px -500px;
}
.plusIcon{
  background-position:0px -268px;

}
.cancelIcon{
  background-position:-32px -268px;

}
.logIcon{
  background-position:0px -575px;
}
.lightningFolderIcon{
  background-position:0px -650px;
}
.lockIcon{
  background-position:0px -725px;
}

/*
Form Layout styles
 */
  .formLayout_Standard label{
    font-weight:bold;
    display:block;
    margin-bottom: -0.5em;

  }
  .formLayout_Standard select, input{
    display:inline-block;
    border: 1px solid [%lightGrayColor%];
    width: 30em;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  input{
    border:solid 1px ;
    width:200px;
}
.error{
  color: red;
}

.formLayout_Standard hr{
  margin:0;
}
.formLayout_Standard .small{
  margin-top: -.35em;
  margin-bottom: -.35em;
}
.formLayout_Standard    {
   margin:auto;
  position:relative;
  /*font-family: Tahoma, Geneva, sans-serif;*/
  font-size: 1em;
  font-style: italic;
  line-height: 2em;
  font-weight: bold;
  color: [%primaryColor%];
  text-decoration: none;
  padding:1em;
 }

.prettyWrapper{
	margin:auto;
	 background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
 -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid [%lightGrayColor%];
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	margin:3px;

}


.formButtons{
  display:block;
}
  .formLayout_Standard h1{
    font-weight: bold;
    font-size: 1.5em;
  }
  
   
  .vcenter {
    position:absolute; 
    top:0; bottom:0; left:0; right:0;
    margin:auto; 
    height:240px; width:70%;
  }
  #statusMsg{
    border-width: 3px;
    border-style: ridge;
		padding: .2em;
    font-size: .75em;
  }
	#outstandingServerCalls{
		
		border-width: 3px;
    border-style:ridge; 
		padding: .2em;
    font-size: .75em;

	}
#footer{
	  position:fixed; 
	  bottom: 0; 
	  left:0; 
	  width:100%; 
	  background-color:[%lightGrayColor%];
		padding:3px;
	}



  input.invalid { 
    border: solid 1px red; 
  }

  .formLayout_Standard .ValidationMsg{
    display:inline-block;
    width:15em;
    padding:0;
    margin:0;
    color:red;
  }


  .ValidationMsg{
    color:red;
    font-size: .75em;
  }


  #briefNotice {
    position:absolute;
    bottom:0;
    width:100%;
    height:75px; 
    padding-bottom:15px;  
		z-index:1000;
  }
  #briefNoticeMsg{
    display:inline-block;
    padding:15px;
    width:200px;
    background: [%standardBackgroundColor%] url(./images/gradientbg.jpg) repeat-x;
    color:[%primaryColor%];
    border-width:1px;
    border-style:solid;
    border-radius:15px;
		z-index:1000;
  }
  .centerblock{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

	ul.pagination{

	}
	ul.pagination li{
		display: inline-block;
		padding: .2em;
	}

	  /*PixelGreen Extract*/
  /* ----------------------------------------------------

  AUTHOR           :  	Erwin Aligam
  WEBSITE          :   http://www.styleshout.com/
  TEMPLATE NAME    : 	PixelGreen
  TEMPLATE CODE    : 	S-0010
  VERSION          :   1.3
  LAST MODIFIED    :   January 19, 2010

  ------------------------------------------------------- */

  #header{
    background: #000;
    border-bottom-style: solid;
    border-width:medium;
    border-color:[%primaryColor%]
  }
  #header .primary{
    color: [%primaryColor%];
  }
  #header .secondary{
    color:[%lighterGrayColor%];
  }
  #header a{
    text-decoration:none;
  }

  ul.buttonbar{
    display:inline;
    font: bolder 1.1em 'Trebuchet MS', sans-serif;
    list-style: none;
    margin: 0; padding: 0;
    color:white;	
  }
  ul.buttonbar li{
    display: inline;
    background: #1C1C1C;
    padding: .2em;
    font: 0.7em;
  }
  ul.buttonbar li:hover{
    background: [%primaryColor%];
  }
  #topMenuBar{
    margin-top: 2em;
    display:none; /*Initially hidden*/
  }


  .logoBlock{
    margin-top:.5em;
  }
  .logoBlock h1 {
    display:inline-block;
    font-size: 3.5em;
  }
  .logoBlock h2 {
    font-size: .75em;
    margin-left: 2.5em;
    color: [%lighterGrayColor%];
    margin-top: -.5em

  }
  .center {
    margin-left:auto;
    margin-right:auto;
  }

  #LoginPortal{
    background: [%standardBackgroundColor%] url(./images/gradientbg.jpg) repeat-x;
  }
  #LoginPortal img{
    display:block;
    margin-top:2em;
  }

  .contentPane{
    padding-top:2em;
    padding-bottom:2em;

  }

  #loginFormRow{
    margin-top: 2em;
  }

  table.dataTable{
    border-style:none;
    border-spacing:0;
  }
  .dataTable th{
    border-top-style:double;
    border-bottom-style:double;
    border-width: 3px;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-color: [%lightGrayColor%];
    color: [%lightGrayColor%];
    font-weight:bold;
  }
  .dataTable td{
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-color: [%lightGrayColor%];
    border-width: 1px;
    border-bottom-style:solid;
    color:[%primaryColor%];

  }
  .dataTable a {
    text-decoration: none;
    color:[%primaryColor%];
  }
  .dataTable a:visited{
    color:[%primaryColor%];
  }
	
  .dataTable .accentColumn{
    background:[%accentColumnColor%];
  }
[%# Begin dataTable Stuff%]
[%dataTablePeriphFontSize ="0.6em"%]

div.dataTables_length {
    float: left;
		font-size: [%dataTablePeriphFontSize %];
}
 
div.dataTables_filter {
    float: right;
		font-size: [%dataTablePeriphFontSize %];
		margin-right: 8px;
}
div.dataTables_filter  input{
	  width:10em;
}
 
div.dataTables_info {
    float: left;
		font-size: [%dataTablePeriphFontSize %];
		padding: 9px 6px 6px 2px;

}
 
div.dataTables_paginate {
    float: right;
    background-color:[%standardBackgroundColor%] ;
		font-size: [%dataTablePeriphFontSize %];
		margin-right: 8px;
}
 
div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate,
div.dataTables_info {
    /*padding: .03em;*/
}
div.dataTables_filter{
    padding-top: 3px;
}


table.pretty {
    clear: both;
		min-width:350px;
}
 
/* Self clearing - */
div.dataTables_wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
		
}
html[xmlns] .dataTables_wrapper { display: block; }
* html .dataTables_wrapper { height: 1%; }
/* Body cells */
table.pretty tbody th {
    text-align: left;
    background: [%standardBackgroundColor%];
}
     
table.pretty tbody td {
    text-align: center;
    background: [%standardBackgroundColor%];
}
         
table.pretty tbody tr.odd td {
    background: [%standardBackgroundColor%];
}

/* Footer cells */ 
table.pretty tfoot th {
    background: [%standardBackgroundColor%];
    text-align: left;
}
     
table.pretty tfoot td {
    background: [%standardBackgroundColor%];
    text-align: center;
    font-weight: bold;
}

div.dataTables_wrapper {
		min-width:360px;
		padding: .5em;
}

table.pretty thead th.sorting_asc {
    background: [%standardBackgroundColor%] url('images/sort_asc.png') no-repeat right center;
}
 
table.pretty thead th.sorting_desc {
    background: [%standardBackgroundColor%] url('images/sort_desc.png') no-repeat right center;
}
 
table.pretty thead th.sorting {
    background: [%standardBackgroundColor%] url('images/sort_both.png') no-repeat right center;
}
a.paginate_button,
a.paginate_active {
    display: inline-block;
    background-color: [%lighterGrayColor%];
    padding: 2px 6px;
    margin-left: 2px;
    cursor: pointer;
    *cursor: hand;
}

 
a.paginate_active {
    background-color: transparent;
    border: 1px solid black;
}
 
a.paginate_button_disabled {
    color: #3d6672;
}
.paging_full_numbers a:active {
    outline: none
}
.paging_full_numbers a:hover {
    text-decoration: none;
}
 
div.dataTables_paginate span>a {
    width: 15px;
    text-align: center;
}
div.paging_two_button {
    padding: 9px 2px 6px 6px;
}

.smallButton{
color: [%primaryColor%];
padding: 2px;
}

div.paging_two_button a {
}



 

[%# End dataTable Stuff=================================================================================================%]

.securityGrant{
    border-style: solid;
    border-width: 1px;
    border-radius:10px;
    width: 21em;
    font-size: .7em;
    padding: .3em;
}
.securityGrantReceiver{
    display:inline-block;
    vertical-align: top;
    border-style:solid;
    border-radius:10px;
    border-width:1px;
    padding: .1em;
    width:17em;
    height:20em;
    overflow:auto;

}

#grantedPrivilegesId{
    border-style:solid;
    border-width:1px;
}
div.ui-draggable-dragging {
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
}
#grantAssignDiv{
    vertical-align:top;
}
h1.pageTitle{
    font-size: 1.5em;
}
.SecurityDisabled{
  display:none;
}

.LogicDisabled{
display:none;

}
#creditsULId{

	width:40em;
	padding: 10px 0px 10px 100px;
}
ul#creditsULId li {
	list-style-type: square;
}

.ui-button-text{
  color:[%primaryColor%];
}
.ui-button{
}
.ui-button-text-only .ui-button-text{
	padding-bottom: .35em; [%#had to do this to make the bottom border show up on buttons#%]
}
a.alink:visited {
		color:[%primaryColor%];
}

#clientLogViewer{
padding: 5px;
}

